

body{
    background-image: url(pexels-pixabay-53435.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-item {
    float: left;
    margin:none ;
    padding: none;
    font-display: flex;
}
ul{
    display: flex;
}

a{
    font-weight: bold;
    color: green;
    margin: none;
}
a:hover{
    color: aliceblue;
}
li{
    margin-left: 76px;
    
}